.btn_flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  width: 100%;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 9px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  padding: 15px;
}
.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}
.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}
.btn[disabled]:hover {
  cursor: not-allowed;
}
.btns{
  display:"flex"
}